
<div style="width: 900px; height: 500px; margin: 0 auto; ">

  <kendo-grid [data]="figuresViewForGrid" [height]="400">
    <kendo-grid-column field="id" title="ID" width="40">
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Название" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="width" title="Ширина">
    </kendo-grid-column>

    <kendo-grid-column field="height" title="Высота">
    </kendo-grid-column>

    <kendo-grid-column field="depth" title="Глубина">
    </kendo-grid-column>
    <kendo-grid-column field="Discontinued" title="Добавлен на сцену" width="200">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox"  [(ngModel)]="dataItem.inCanvas" (change)="checkValue(dataItem)" />
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

</div>

<div *ngIf="isDataAvailable" style="margin: 50px; border: 2px solid red;">
  <ko-stage #stage [config]="configStage">
    <ko-layer #layer>
      <ko-regular-polygon *ngFor="let figure of figuresForCanvas" [config]="figure"></ko-regular-polygon>
    </ko-layer>
  </ko-stage>
</div>


