<div class="container">
  <form class="m-4">
    <fieldset class="form-group">
      <div class="row m-4">
        <div class="col-2">
          <label for="login">Логин</label>
        </div>
        <div class="col-9">
          <input class="form-control" type="text" name="login" [(ngModel)]="user.login" />
        </div>
      </div>
      <div class="row m-4">
        <div class="col-2">
          <label for="password">Пароль</label>
        </div>
        <div class="col-9">
          <input class="form-control" type="password" name="password" [(ngModel)]="user.password" />
        </div>
      </div>
      <div class="row m-4">
        <div class="col-xs-6 m-4 text-centered">
          <button type="button" class="btn btn-success btn-lg" style="margin: inherit;" (click)="login()">Войти</button>
        </div>
        <div class="col-xs-6 m-4 text-centered">
          <button type="button" class="btn btn-success btn-lg" style="margin: inherit;" (click)="register()">Зарегистрироваться</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<h3 *ngIf="registered">Регистрация успешна</h3>
<h3 *ngIf="error != ''" class="warning">{{error}}</h3>
